In [1]:
import pandas as pd
import numpy as np
import sklearn.metrics

In [2]:
df = pd.read_csv('../data/raw/2022_train.csv')

In [3]:
df.head()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,3799,80,24.3,7.8,3.0,6.4,45.7,0.1,0.3,22.6,...,2.9,72.1,2.2,2.0,3.8,3.2,1.1,0.2,1.6,1
1,3800,75,21.8,10.5,4.2,7.9,55.1,-0.3,-1.0,34.9,...,3.6,67.8,3.6,3.7,6.6,0.7,0.5,0.6,1.4,1
2,3801,85,19.1,4.5,1.9,4.5,42.8,0.4,1.2,34.3,...,0.6,75.7,0.6,1.8,2.4,0.8,0.4,0.2,0.6,1
3,3802,63,19.1,8.2,3.5,6.7,52.5,0.3,0.8,23.7,...,1.5,66.9,0.8,2.0,3.0,1.8,0.4,0.1,1.9,1
4,3803,63,17.8,3.7,1.7,3.4,50.8,0.5,1.4,13.7,...,0.5,54.0,2.4,2.7,4.9,0.4,0.4,0.6,0.7,1

In [4]:
df.shape

(8000, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           8000 non-null   int64
 1   GP           8000 non-null   int64
 2   MIN          8000 non-null   float64
 3   PTS          8000 non-null   float64
 4   FGM          8000 non-null   float64
 5   FGA          8000 non-null   float64
 6   FG%          8000 non-null   float64
 7   3P Made      8000 non-null   float64
 8   3PA          8000 non-null   float64
 9   3P%          8000 non-null   float64
 10  FTM          8000 non-null   float64
 11  FTA          8000 non-null   float64
 12  FT%          8000 non-null   float64
 13  OREB         8000 non-null   float64
 14  DREB         8000 non-null   float64
 15  REB          8000 non-null   float64
 16  AST          8000 non-null   float64
 17  STL          8000 non-null   float64
 18  BLK          8000 non-null   float64
 19  TOV          8000 non-null   float64
 20  TARGET_5Yrs  8000 non-null   int64
dtypes: float64(18), int64(3)
memory usage: 1.3 MB

In [6]:
df.describe()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,...,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,7798.50000,62.777875,18.576662,7.267088,2.807037,6.231212,44.608900,0.264525,0.816562,19.583700,...,1.947788,71.365825,1.077838,2.168500,3.245300,1.624513,0.648687,0.245212,1.257763,0.833625
std,2309.54541,17.118774,8.935263,4.318732,1.693373,3.584559,6.155453,0.384093,1.060964,16.003155,...,1.252352,10.430447,0.785670,1.392224,2.085154,1.355986,0.407626,0.821037,0.723270,0.372440
min,3799.00000,-8.000000,2.900000,0.800000,0.300000,0.800000,21.300000,-1.100000,-3.100000,-38.500000,...,0.000000,-13.300000,0.000000,0.200000,0.300000,0.000000,0.000000,-17.900000,0.100000,0.000000
25%,5798.75000,51.000000,12.000000,4.100000,1.600000,3.600000,40.400000,0.000000,0.100000,8.400000,...,1.000000,65.000000,0.500000,1.100000,1.700000,0.700000,0.300000,0.100000,0.700000,1.000000
50%,7798.50000,63.000000,16.800000,6.300000,2.400000,5.400000,44.400000,0.300000,0.800000,19.500000,...,1.700000,71.400000,0.900000,1.900000,2.800000,1.300000,0.600000,0.200000,1.100000,1.000000
75%,9798.25000,74.000000,23.500000,9.500000,3.700000,8.100000,48.700000,0.500000,1.500000,30.600000,...,2.600000,77.500000,1.500000,2.900000,4.300000,2.200000,0.900000,0.400000,1.600000,1.000000
max,11798.00000,123.000000,73.800000,34.200000,13.100000,28.900000,67.200000,1.700000,4.700000,82.100000,...,11.100000,168.900000,5.500000,11.000000,15.900000,12.800000,3.600000,18.900000,5.300000,1.000000

In [7]:
df_cleaned = df.copy()

In [8]:
df_cleaned.drop('Id', axis=1, inplace=True)
df_cleaned.drop('FGM', axis=1, inplace=True)
df_cleaned.drop('FGA', axis=1, inplace=True)
df_cleaned.drop('3P Made', axis=1, inplace=True)
df_cleaned.drop('3PA', axis=1, inplace=True)
df_cleaned.drop('FTA', axis=1, inplace=True)
df_cleaned.drop('FTM', axis=1, inplace=True)
df_cleaned.drop('GP', axis=1, inplace=True)

In [9]:
df_cleaned.describe()

,MIN,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,18.576662,7.267088,44.608900,19.583700,71.365825,1.077838,2.168500,3.245300,1.624513,0.648687,0.245212,1.257763,0.833625
std,8.935263,4.318732,6.155453,16.003155,10.430447,0.785670,1.392224,2.085154,1.355986,0.407626,0.821037,0.723270,0.372440
min,2.900000,0.800000,21.300000,-38.500000,-13.300000,0.000000,0.200000,0.300000,0.000000,0.000000,-17.900000,0.100000,0.000000
25%,12.000000,4.100000,40.400000,8.400000,65.000000,0.500000,1.100000,1.700000,0.700000,0.300000,0.100000,0.700000,1.000000
50%,16.800000,6.300000,44.400000,19.500000,71.400000,0.900000,1.900000,2.800000,1.300000,0.600000,0.200000,1.100000,1.000000
75%,23.500000,9.500000,48.700000,30.600000,77.500000,1.500000,2.900000,4.300000,2.200000,0.900000,0.400000,1.600000,1.000000
max,73.800000,34.200000,67.200000,82.100000,168.900000,5.500000,11.000000,15.900000,12.800000,3.600000,18.900000,5.300000,1.000000

In [10]:
target = df_cleaned.pop('TARGET_5Yrs')

In [11]:
df_cleaned.head()

    MIN   PTS   FG%   3P%   FT%  OREB  DREB  REB  AST  STL  BLK  TOV
0  24.3   7.8  45.7  22.6  72.1   2.2   2.0  3.8  3.2  1.1  0.2  1.6
1  21.8  10.5  55.1  34.9  67.8   3.6   3.7  6.6  0.7  0.5  0.6  1.4
2  19.1   4.5  42.8  34.3  75.7   0.6   1.8  2.4  0.8  0.4  0.2  0.6
3  19.1   8.2  52.5  23.7  66.9   0.8   2.0  3.0  1.8  0.4  0.1  1.9
4  17.8   3.7  50.8  13.7  54.0   2.4   2.7  4.9  0.4  0.4  0.6  0.7

In [12]:
# Standarize Data
from sklearn.preprocessing import StandardScaler

In [13]:
scaler = StandardScaler()

In [14]:
df_cleaned = scaler.fit_transform(df_cleaned)

In [15]:
#df_cleaned

In [16]:
# Save standarized data
from joblib import dump

In [17]:
dump(scaler, '../models/scaler.joblib')

['../models/scaler.joblib']

In [18]:
# Using Skicit-learn to split data into training and validation sets
from sklearn.model_selection import train_test_split

In [19]:
# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(df_cleaned, target, test_size = 0.2, random_state = 7)

In [20]:
#Save sets into Data/Processed Folder
np.save('../data/processed/X_train', X_train)
np.save('../data/processed/X_val', X_val)
np.save('../data/processed/y_train', y_train)
np.save('../data/processed/y_val', y_val)

In [21]:
#Get Baseline
y_mean = y_train.mean()

In [22]:
y_mean

0.83546875

In [23]:
y_base = np.full((len(y_train),1), y_mean)

In [24]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

In [25]:
print(mse(y_train, y_base, squared=False))
print(mae(y_train, y_base))

0.3707569524276484
0.27492143554687504